flask
firebase-admin
python-jose[cryptography]
reportlab
cryptography
flask-cors
python-dotenv
pyjwt
flask-swagger-ui
opencv-python
pillow
requests
qrcode
django-qrcode
pdfrw
opencv-python-headless
numpy
easyocr
pytesseract
langdetect
nltk
scikit-learn
bcrypt
tensorflow